<div class="container py-5">
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <h1 class="text-center mb-4">Accounts</h1>

  <div class="row">
    <ul class="list-group list-group-flush">
      <li
        class="list-group-item my-1"
        *ngFor="let account of accounts"
        [routerLink]="['/accounts/edit', account.id]">
        <div class="container">
          <div class="row">
            <div class="col">{{account.name}}</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
