<div
  class="container py-5"
  infinite-scroll
  (scrolled)="scrolled($event)"
  (scrolledUp)="onScrollUp($event)">
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <h1 class="text-center mb-4">Records</h1>

  <div class="text-center mb-4">
    <div role="button" class="btn btn-accent text-white mx-2" (click)="onAddRecordPressed()">
      Add Record
    </div>
    <div role="button" class="btn btn-accent text-white mx-2" (click)="onExportRecordsPressed()">
      Export Records
    </div>
    <div role="button" class="btn btn-accent text-white mx-2">
      <input 
        type="file" 
        id="formFile" 
        accept=".json"
        hidden 
        (change)="onImportRecordsPressed($event)"/>

      <label for="formFile">Import Records</label>
    </div>
        <div role="button" class="btn btn-accent text-white mx-2">
      <input 
        type="file" 
        id="walletRecords" 
        accept=".csv"
        hidden 
        (change)="onImportWalletRecordsPressed($event)"/>

      <label for="walletRecords">Import Wallet Records</label>
    </div>
  </div>
  <div *ngIf="recordGroups && recordGroups.length > 0">
    <div class="card my-2" *ngFor="let recordGroup of recordGroups">
      <div class="card-header">
        <div class="container">
          <div class="row">
            <div class="col fw-bold">{{recordGroup.date | date}}</div>
            <div class="col fw-bold align-self-end text-end">
              {{recordGroup.sum | currency: recordGroup.records[0].account.currency.abbreviation
              :'symbol'}}
            </div>
          </div>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li
          class="list-group-item"
          *ngFor="let record of recordGroup.records"
          [routerLink]="['/records/edit', record.id]">
          <div class="container">
            <div class="row">
              <div class="col">{{record.category.name}}</div>
              <div *ngIf="record.fromAccount" class="col">
                {{record.account.name}}
                <i class="bi bi-arrow-right"></i> {{record.fromAccount.name}}
              </div>
              <div *ngIf="!record.fromAccount" class="col">{{record.account.name}}</div>
              <div class="col">{{record.note}}</div>
              <div class="col align-self-end text-end">
                {{record.amount | currency: record.account.currency.abbreviation :'symbol'}}
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
