/* You can add global styles to this file, and also import other style files */

$primary: #686de0;
$secondary: #f2ecff;
$accent: #6cbaa2;
$disabled: #b1b1b1;

$custom-theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'accent': $accent,
  'disabled': $disabled,
);

@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

$theme-colors: map-merge($theme-colors, $custom-theme-colors);

@import '../node_modules/bootstrap/scss/bootstrap';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #f2ecff;
}
