body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.background-color-blue {
    background-color: #4E5D74;
}

.background-color-green {
    background-color: #77C2AE;
}

.color-blue {
    color: #4E5D74;
}

.color-green {
    color: #77C2AE;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-40 {
    padding-top: 40px;
}

