@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid background-color-green">
    <div class="container">
        <h1 class="display-3 text-center">Welcome to Budget</h1>
        <p class="lead text-center">Your finance managing best friend.</p>
    </div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-4 col-lg-4 vcenter">
                <img class="img-responsive img-circle" src="~/images/money.png" alt="">
            </div><!--
--><div class="col-xs-5 col-md-7 col-lg-7 col-lg-offset-1 col-md-offset-1 col-xs-offset-1 vcenter">
                <div class="p-5">
                    <h2 class="display-4">Budget makes savings easier than ever!</h2>
                    <p>Some bullshit text</p>
                </div>
            </div>
        </div>
    </div>
</section>