<div class="container my-5">
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <h1 class="text-center mb-4">Dashboard</h1>

  <div class="row h-100">
    <div
      *ngFor="let account of accounts"
      role="button"
      class="col-12 col-md-6 col-lg-4 col-xl-3 p-1">
      <div
        class="card text-white h-100"
        [ngClass]="{ 'bg-primary': isAccountSelected(account.id), 'bg-disabled' : !isAccountSelected(account.id) }"
        (click)="onAccountSelected(account.id)">
        <div class="card-body">
          <div class="text-bold">{{account.name}}</div>
          <div class="fs-6 text fw-ligh">
            Balance: {{account.balance | currency: account.currency.abbreviation :'symbol'}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center" *ngIf="recordsDateRange">
    <div class="align-middle p-3">
      <span
        (click)="previousMonth()"
        class="border border-primary p-1 m-1 rounded-3"
        [ngClass]="{ 'border-primary': hasPreviousMonth, 'border-disabled' : !hasPreviousMonth }"
        role="button">
        <i
          class="bi bi-chevron-left text-primary"
          [ngClass]="{ 'text-primary': hasPreviousMonth, 'text-disabled' : !hasPreviousMonth }"></i>
      </span>
      {{selectedDate | date: 'MMMM yyyy'}}
      <span
        (click)="nextMonth()"
        class="border border-primary p-1 m-1 rounded-3"
        [ngClass]="{ 'border-primary': hasNextMonth, 'border-disabled' : !hasNextMonth }"
        role="button">
        <i
          class="bi bi-chevron-right text-primary"
          [ngClass]="{ 'text-primary': hasNextMonth, 'text-disabled' : !hasNextMonth }"></i>
      </span>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col col-lg-6 col-12 my-2">
      <div class="bg-white p-4 card">
        <h4 class="text-center">Cash Flow</h4>
        <app-cash-flow-chart [cashFlowData]="cashFlowData"></app-cash-flow-chart>
      </div>
    </div>
    <div class="col col-lg-6 col-12 my-2">
      <div class="bg-white p-4 card">
        <h4 class="text-center">Statistics</h4>
        <div *ngIf="statistics">
          <div class="fs-1 text-success my-2">Income: {{statistics.income}}</div>
          <div class="fs-1 text-danger my-2">Expense: {{statistics.expense}}</div>
          <div class="fs-1 text-primary my-2">Cash Flow: {{statistics.cashFlow}}</div>
        </div>
        <div *ngIf="!statistics">
          <h6 class="text-center">Not Enough Data to display the Statistics</h6>
        </div>
      </div>
    </div>
  </div>
</div>
