<div class="container py-5">
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <h1>Accounts</h1>

  <div class="row g-2">
    <div
      [routerLink]="['/accounts/edit', account.id]"
      *ngFor="let account of accounts"
      role="button"
      class="card col-3 m-3 text-white bg-info">
      <div class="card-body text-center">{{account.name}}</div>
    </div>
    <div role="button" class="card col-3 m-3 border-info" (click)="onAddAccountPressed()">
      <div class="card-body text-info text-center">Add Account</div>
    </div>
  </div>
</div>
