<div class="container py-5">
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <h1 class="text-center mb-4">Accounts</h1>

  <div class="row">
    <div
      [routerLink]="['/accounts/edit', account.id]"
      *ngFor="let account of accounts"
      role="button"
      class="col-12 col-md-6 col-lg-4 col-xl-3">
      <div class="m-1 card text-white bg-success">
        <div class="card-body">
          <div class="text-bold">{{account.name}} ({{account.currency.abbreviation}})</div>
          <div class="fs-6 text fw-ligh">
            Balance: {{account.initialBalance | currency: account.currency.abbreviation :'symbol'}}
          </div>
        </div>
      </div>
    </div>
    <div role="button" class="col-12 col-md-6 col-lg-4 col-xl-3" (click)="onAddAccountPressed()">
      <div class="m-1 card card-body text-success text-center border-success">Add Account</div>
    </div>
  </div>
</div>
