<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/dashboard" routerLinkActive="active">Budget</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            *ngIf="isAuthenticated"
            class="nav-link"
            routerLink="/dashboard"
            routerLinkActive="active"
            >Dashboard</a
          >
        </li>
        <li class="nav-item">
          <a
            *ngIf="!isAuthenticated"
            class="nav-link"
            routerLink="/sign-in"
            routerLinkActive="active"
            >Sign in</a
          >
        </li>
      </ul>
      <ul *ngIf="isAuthenticated" class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<ng-content></ng-content>
