<app-form-wrapper [formTitle]="'Create Account'">
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <form [formGroup]="createAccountForm" (ngSubmit)="onSubmit()">
    <div class="form-group py-2">
      <label class="form-label" for="accountName">Account Name</label>
      <input
        type="text"
        id="accountName"
        formControlName="accountName"
        class="form-control form-control-lg" />
    </div>
    <div class="form-group py-2">
      <label class="form-label" for="currency">Currency</label>
      <select class="form-control form-control-lg" id="currency">
        <option *ngFor="let currency of currencies">{{currency.name}}</option>
      </select>
    </div>
    <div class="mt-4">
      <button class="btn btn-primary btn-block">Create Account</button>
    </div>
  </form>
</app-form-wrapper>
