<div class="container py-5">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card shadow-2-strong">
        <div class="card-body p-5 text-center">
          <h3 class="mb-4">Create Account</h3>
          <form [formGroup]="createAccountForm" (ngSubmit)="onSubmit()">
            <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
            <div class="form-group">
              <label class="form-label" for="username">Account Name</label>
              <input
                type="text"
                id="accountName"
                formControlName="accountName"
                class="form-control form-control-lg" />
            </div>

            <button class="btn btn-primary btn-block mt-5">Create Account</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
