<app-form-wrapper [formTitle]="isLogin ? 'Login' : 'Register'">
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group py-2">
      <label class="form-label" for="username">Username</label>
      <input
        type="text"
        id="username"
        formControlName="username"
        class="form-control form-control-lg" />
    </div>
    <div class="form-group py-2" *ngIf="!isLogin">
      <label class="form-label" for="email">Email</label>
      <input type="email" id="email" formControlName="email" class="form-control form-control-lg" />
    </div>

    <div class="form-group">
      <label class="form-label" for="password">Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="form-control form-control-lg" />
    </div>
    <div class="mt-4">
      <button class="btn btn-accent text-white btn-block">
        {{isLogin ? "Login" : "Register"}}
      </button>
      <a class="btn btn-silent btn-sm btn-block" (click)="onFormTypeChanged()">
        Go to {{isLogin ? "Register" : "Login"}}
      </a>
    </div>
  </form>
</app-form-wrapper>
